h2 {
  padding: 1em;
}
img {
  max-width: 100%;
}
#mainPage {
  margin: 0 auto;
}
#slogan {
  padding-top: 10px;
  font-size: 16px;
}
#menu {
  background-color: black;
}
#nav-tabs {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
.form-group input {
  width: 50%;
}
#footer {
  height: 3em;
  background-color: black;
  color: #ffffff;
}
#registerForm {
  margin: 5em;
  margin-top: 0;
}
#loginForm {
  margin-top: 5em;
}


